body {
  margin: 0;
}

#buttons {
  margin: 5px 5px 5px auto;
  display: table;
}

button {
  margin: 0 2px;
  padding: 5px;
}

#menu {
  display: none;
  position: absolute;
  width: 100px;
  background-color: white;
  box-shadow: 0 0 5px lightgray;
  overflow: hidden;
}

#menu button {
  width: 90%;
  border: none;
  background-color: white;
  padding: 8px 20px;
  margin: 5px;
  text-align: left;
}

#menu button:hover {
  background-color: lightgray;
}

hr {
  width: 90%;
  height: 0;
  border: 0;
  border-top: 1px solid lightgray;
  margin: 0 5px;
}